ah2002_notes[.]aux
ah2002_notes[.]log
ah2002_notes[.]pdf
ah_to_leo[.]aux
ah_to_leo[.]log
ah_to_leo[.]pdf
ah_to_leo[.]toc
*[.]djvu
finite[.]aux
finite[.]log
finite[.]pdf
finite[.]toc
junk
*[.]pdf
proof[.]aux
proof[.]log
proof[.]pdf
proof[.]toc
*[.]ps
recce[.]aux
recce-general[.]idx
recce-general[.]ilg
recce-general[.]ind
recce-defienda[.]idx
recce-defienda[.]ilg
recce-defienda[.]ind
recce-symbol[.]idx
recce-symbol[.]ilg
recce-symbol[.]ind
recce[.]loa
recce[.]loe
recce[.]log
recce[.]lot
[.]recce[.]ltx[.]swp
recce[.]out
recce[.]pdf
recce[.]tdo
recce[.]toc
test[.]aux
test[.]log
test[.]out
test[.]pdf
wich/
